.blogcontent {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.blogcontent > p > a {
    color: #112E51;
}

.dark > .blogcontent > p > a {
    color: #FFC129;
}

.blogcontent > p > img {
    max-width: 400px;
    padding-bottom: 12px;
}